[Unit]
Description=MAKE; AMS Client
After=graphical.target network-online.target
Wants=network-online.target

[Service]
Type=simple
User=administrator
Environment=DISPLAY=:0
Environment=XAUTHORITY=/home/administrator/.Xauthority
ExecStart=/bin/bash /home/administrator/make-ams_client/stater.sh
Restart=on-failure
RestartSec=0

[Install]
WantedBy=graphical.target
