[Unit]
Description=MAKE; AMS Client
Documentation=https://github.com/szkotgh/make-ams_client.git
After=graphical.target
Requires=graphical.target

[Service]
Environment=DISPLAY=:0
ExecStartPre=/bin/bash -c 'while ! lsusb | grep -q "0525:a4ac"; do sleep 1; done'
ExecStart=/bin/bash /home/administrator/make-ams_client/stater.sh
User=administrator
Restart=on-failure
RestartSec=1

[Install]
WantedBy=multi-user.target
